<footer class="page-footer font-small pt-4 bgcolor">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
<h4 class="text-dark">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
<ul class= "social-network">
<li>
    <a href="https://www.facebook.com/tainah.vinha" target="_blank" class="icoFacebook">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
</li>
<li>
    <a href="www.linkedin.com/in/tainah-vinha-251554165" target="_blank" class="icoLinkedin">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
</li>
<li>
    <a href="https://github.com/tainahvinha" target="_blank" class="icoGithub">
        <i class="fa fa-github-square" aria-hidden="true"></i>
    </a>
</li>
</ul>
    </div>
</div>

<div class="footer-copyright bg-dark text-center py-3">
<span class="text-light">&copy; 2021 Copyright: Tainah Vinha</span>
</div>

</footer>