#img-bg{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b48a9433725070.56b5100ec37c5.jpg');
    min-height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}